<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tiet.surveyapp">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.SurveyApp">
        <activity android:name=".CSVConverter.JsonToCSV"></activity>
        <activity android:name=".DeveloperInfo" />
        <activity android:name=".PlotTrackerForm.PlotTrackerActivity" />
        <activity android:name=".CropDiseaseSurveyForm.CropDiseaseActivity" />
        <activity android:name=".WeeklySurveyForm2.CropMeasurementActivity" />
        <activity android:name=".WeeklySurveyForm2.WeeklySurveyActivity" />
        <activity android:name=".FarmerDetailsForm.FarmerDetailsActivity" />
        <activity android:name=".WeeklySurveyForm.CommonGroup" />
        <activity android:name=".FieldPhotoActivity" />
        <activity android:name=".WeeklySurveyForm.BasicSurvey" />
        <activity
            android:name=".SplashScreen"
            android:theme="@style/AppTheme.Fullscreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity" />
        <activity android:name=".RegisterUser" />
        <activity android:name=".LoginActivity" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>